@import "../../../../../../styles/globals.scss";


.centered {
    display: flex;
    justify-content: center;
  }
  .spaceBetween {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(mobile) {
      display:block;
    }
  }
  .middled {
    display: flex;
    align-items: center;
    gap:10px;
  }
