@import "../../../styles/globals.scss";


.container {
  display: flex;
  gap: 5px;
  border: 2px solid #eeeeee;
  justify-content: space-between;
  align-items: center;
  height:40px;
  font-size:12px;
  input {

    width: 40px;
    border: none;
    text-align: center;
    font-weight: bold;
  }
  svg {
    width:14px;
  }
}
