@import "../../../styles/globals.scss";

.container {
  @include innerWidth();
}

.infoHolder {
  ul {
    list-style:none;
    font-size: 13px;
  }
  .fabric {
    margin-bottom:20px;
    p {
      font-size:14px; 
      font-weight: bold;
      margin-bottom:3px;
    }
    ul {
      margin-bottom:10px;
    }
  }

}