@import "../../../styles/globals.scss";


.strip {
  width: 100%;

  color: #000;
  padding-top: 20px;
  .inner {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;

    @include respond(mobile) {
      font-size: 11px;
      font-weight: 400;
    }
    @include innerWidth();
    a {
      @include transition();
      opacity: 1;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
