@import "../../../styles/globals.scss";


.strip {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px;
  .inner {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    @include innerWidth();
    a {
      @include transition();
      opacity: 1;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
