@import "../../../styles/globals.scss";

.container {

    display:flex;
    gap:20px;
    align-items: center;
    width:30%;
    @include respond(mobile) {
        width:100%;
    }

    .select {
       
    }
}
