@import "../../../../styles/globals.scss";

.mainContain {
  @include rounded();
  @include shadow();
  background: #fff;
  padding: 30px 30px;
  @include respond(mobile) {
    padding:15px;
  }
}
.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  padding: 50px 0px;
  @include respond(mobile) {
    padding:15px 0;
    max-width: 95%;
  }
  margin: 0 auto;
}
