@import "../../styles/globals.scss";

.main {
}
.header {
  @include textShadow();
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}
.body {
  padding: 50px 20px;
}
.footer {
}
.closebutton {
  color: #fff;
}
